.NavContainer{
    margin-bottom: 20px;
}

.NavContainer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #72d9eb;
}

.NavContainer .NavLinkli {
    float: left;
} 

.NavLinkContent{
    display: block;
    color: #030507;
    text-align: center;
    padding: 16px 14px 16px 16px;
    text-decoration: none;
}

.NavLinkli:active{
    background-color: #95b0d3
}

